<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        colors="true"
        verbose="true"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutOutputDuringTests="true"
        backupGlobals="false"
        backupStaticAttributes="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
>
  <coverage>
    <include>
      <directory>./Crow/</directory>
    </include>
    <report>
      <clover outputFile="clover.xml" />
    </report>
  </coverage>
  <testsuites>
    <testsuite name="CrowPHP Tests">
      <directory>./Tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
